.table{
    display: flex;
    justify-content: center;
}

body{
    background-color:#C6EBC5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-weight: bold;
}
